<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Don.Properties.Settings.DonBazaConnectionString" connectionString="Data Source=|DataDirectory|\DonBaza.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Startni.Properties.Settings.DonBazaConnectionString"
            connectionString="Data Source=|DataDirectory|\DonBaza.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Startni.Properties.Settings.DonBazaConnectionString1"
            connectionString="Data Source=D:\Don\DonBaza.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>